<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Coronavirus Applicacion</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h1>Coronavirus Applicacion</h1>
		<p>Lista de casos en paises del mundo</p>

		<div class="jumbotron">
			<h1 class="display-4" th:text="${totalCasosRepor}"></h1>
			<p class="lead">Total de casos reportados</p>
			<hr class="my-4">
			<p>
				<span>Casos reportados las últimas 24 hrs:</span> <span
					th:text="${totalNuevosCasos}"></span>
			</p>

		</div>

		<table class="table">
			<tr>
				<th>Estado</th>
				<th>Pais</th>
				<th>Total casos</th>
				<th>Casos últimas 24 hrs</th>
			</tr>
			<tr th:each="statsTotales : ${statsTotales}">
				<td th:text="${statsTotales.estado}"></td>
				<td th:text="${statsTotales.pais}"></td>
				<td th:text="${statsTotales.ultimosCasos}">0</td>
				<td th:text="${statsTotales.diferenciaDiaria}">0</td>

			</tr>
		</table>
	</div>
</body>

</html>
